In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
import math
from tqdm import tqdm
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [46]:
def convert_temporal_data(dataframe):
  '''
  Convert temporal variables from seconds to hours.

  This conversion is necessary. Otherwise, large predictor values (e.g., p^6)
  will be irrelevant for OLS.
  '''

  for column in ['p', 'r']:
    dataframe[column] = dataframe[column] / 3600

  return dataframe

def read_score_distribution(csv_file):
  columns = ['p', 'q', 'r', 'score']
  distribution = pd.read_csv(csv_file, names=columns)
  distribution = convert_temporal_data(distribution)

  return distribution

In [47]:
def add_quadratic_predictors(dataframe):
  dataframe[['p2', 'q2', 'r2']] = dataframe[['p', 'q', 'r']]**2
  dataframe['pq'] = dataframe['p']*dataframe['q']

  return dataframe

def add_cubic_predictors(dataframe):
  dataframe[['p3', 'q3', 'r3']] = dataframe[['p', 'q', 'r']]**3
  dataframe['p2q'] = dataframe['p']**2 * dataframe['q']
  dataframe['pq2'] = dataframe['p'] * dataframe['q']**2

  return dataframe

def add_quartic_predictiors(dataframe):
  dataframe[['p4', 'q4', 'r4']] = dataframe[['p', 'q', 'r']]**4
  dataframe['p3q'] = dataframe['p']**3 * dataframe['q']
  dataframe['p2q2'] = dataframe['p']**2 * dataframe['q']**2
  dataframe['pq3'] = dataframe['p'] * dataframe['q']**3

  return dataframe

def add_quintic_predictors(dataframe):
  dataframe[['p5', 'q5', 'r5']] = dataframe[['p', 'q', 'r']]**5
  dataframe['p4q'] = dataframe['p']**4 * dataframe['q']
  dataframe['p3q2'] = dataframe['p']**3 * dataframe['q']**2
  dataframe['p2q3'] = dataframe['p']**2 * dataframe['q']**3
  dataframe['pq4'] = dataframe['p'] * dataframe['q']**4

  return dataframe

def add_sextic_predictors(dataframe):
  dataframe[['p6', 'q6', 'r6']] = dataframe[['p', 'q', 'r']]**6
  dataframe['p5q'] = dataframe['p']**5 * dataframe['q']
  dataframe['p4q2'] = dataframe['p']**4 * dataframe['q']**2
  dataframe['p3q3'] = dataframe['p']**3 * dataframe['q']**3
  dataframe['p2q4'] = dataframe['p']**2 * dataframe['q']**4
  dataframe['pq5'] = dataframe['p'] * dataframe['q']**5

  return dataframe
def only_att_predictors(dataframe):
    dataframe[['p2', 'q2', 'r2']] = dataframe[['p', 'q', 'r']]**2
    dataframe[['p3', 'q3', 'r3']] = dataframe[['p', 'q', 'r']]**3
    dataframe[['p4', 'q4', 'r4']] = dataframe[['p', 'q', 'r']]**4
    dataframe[['p5', 'q5', 'r5']] = dataframe[['p', 'q', 'r']]**5
    dataframe[['p6', 'q6', 'r6']] = dataframe[['p', 'q', 'r']]**6

    return dataframe
def only_wq_att_predictors(dataframe):
    dataframe[['p2', 'r2']] = dataframe[['p', 'r']]**2
    dataframe[['p3',  'r3']] = dataframe[['p', 'r']]**3
    dataframe[['p4',  'r4']] = dataframe[['p', 'r']]**4
    dataframe[['p5',  'r5']] = dataframe[['p', 'r']]**5
    dataframe[['p6',  'r6']] = dataframe[['p', 'r']]**6

    return dataframe
def only_lin_predictors(dataframe):
    dataframe['pq'] = dataframe['p']*dataframe['q']
    dataframe['p2q'] = dataframe['p']**2 * dataframe['q']
    dataframe['pq2'] = dataframe['p'] * dataframe['q']**2
    dataframe['p3q'] = dataframe['p']**3 * dataframe['q']
    dataframe['p2q2'] = dataframe['p']**2 * dataframe['q']**2
    dataframe['pq3'] = dataframe['p'] * dataframe['q']**3
    dataframe['p4q'] = dataframe['p']**4 * dataframe['q']
    dataframe['p3q2'] = dataframe['p']**3 * dataframe['q']**2
    dataframe['p2q3'] = dataframe['p']**2 * dataframe['q']**3
    dataframe['pq4'] = dataframe['p'] * dataframe['q']**4

    return dataframe
def only_lin_predictors_pr(dataframe):
    dataframe['pr'] = dataframe['p']*dataframe['r']
    dataframe['p2r'] = dataframe['p']**2 * dataframe['r']
    dataframe['pr2'] = dataframe['p'] * dataframe['r']**2
    dataframe['p3r'] = dataframe['p']**3 * dataframe['r']
    dataframe['p2r2'] = dataframe['p']**2 * dataframe['r']**2
    dataframe['p4r'] = dataframe['p']**4 * dataframe['r']
    dataframe['p3r2'] = dataframe['p']**3 * dataframe['r']**2
    dataframe['p2r3'] = dataframe['p']**2 * dataframe['r']**3
    dataframe['pr4'] = dataframe['p'] * dataframe['r']**4

    return dataframe

In [48]:
def create_quadratic_polynomial(dataframe):
  dataframe = add_quadratic_predictors(dataframe)
  return dataframe

def create_cubic_polynomial(dataframe):
  dataframe = add_cubic_predictors(
              add_quadratic_predictors(dataframe))
  return dataframe

def create_quartic_polynomial(dataframe):
  dataframe = add_quartic_predictiors(
              add_cubic_predictors(
              add_quadratic_predictors(dataframe)))
  return dataframe

def create_quintic_polynomial(dataframe):
  dataframe = add_quintic_predictors(
              add_quartic_predictiors(
              add_cubic_predictors(
              add_quadratic_predictors(dataframe))))
  return dataframe

def create_sextic_polynomial(dataframe):
  dataframe = add_sextic_predictors(
              add_quintic_predictors(
              add_quartic_predictiors(
              add_cubic_predictors(
              add_quadratic_predictors(dataframe)))))
  return dataframe

In [49]:
variables = ['p', 'q', 'r']
degre_max = 4

# Générer les combinaisons
possibilites = []
possibilites.append("sqrt(p)")
possibilites.append("sqrt(q)")
possibilites.append("sqrt(r)")
for degre in range(2, degre_max + 1):
    for variable in variables:
        possibilites.append(variable + str(degre))

for degre in range(2, degre_max + 1):
    for i in range(len(variables)):
        for j in range(i + 1, len(variables)):
            possibilites.append(variables[i] + str(degre) + variables[j])
            possibilites.append(variables[j] + str(degre) + variables[i])



# Afficher les combinaisons
print (possibilites)

['sqrt(p)', 'sqrt(q)', 'sqrt(r)', 'p2', 'q2', 'r2', 'p3', 'q3', 'r3', 'p4', 'q4', 'r4', 'p2q', 'q2p', 'p2r', 'r2p', 'q2r', 'r2q', 'p3q', 'q3p', 'p3r', 'r3p', 'q3r', 'r3q', 'p4q', 'q4p', 'p4r', 'r4p', 'q4r', 'r4q']

In [50]:
def grid_search (dataframe, n):
    best_vif=100000000000000
    best_set=[]
    comb=list(itertools.combinations(possibilites,n))
    for var_set in tqdm(comb, desc="Progression"):
        print
        df_copy = dataframe.copy()
        
        # Appliquer les transformations pour chaque variable dans l'ensemble
        for var in var_set:
            if var.startswith('sqrt'):
                root_var = var[-2]  # Récupérer la variable ('p', 'q' ou 'r') à partir de la variable sqrt
                df_copy[var] = df_copy[root_var].apply(math.sqrt)
            elif var.startswith(('p', 'q', 'r'))and len(var)==2:
                power = int(var[1:]) if len(var) > 1 else 1  # Récupérer l'exposant du polynôme
                base_var = var[0]  # Récupérer la variable ('p', 'q' ou 'r') à partir de la variable polynomiale
                df_copy[var] = df_copy[base_var] ** power
            elif var in ['p2q', 'q2p', 'p2r', 'r2p', 'q2r', 'r2q']:
                var_1, var_2 = var[0], var[2]  # Récupérer les deux variables ('p', 'q' ou 'r') de la combinaison
                df_copy[var] = (df_copy[var_1] **2) * df_copy[var_2]
            elif var in ['p3q', 'q3p', 'p3r', 'r3p', 'q3r', 'r3q']:
                var_1, var_2 = var[0], var[2]  # Récupérer les trois variables ('p', 'q' ou 'r') de la combinaison
                df_copy[var] = (df_copy[var_1]**3) * df_copy[var_2] 
            elif var in ['p4q', 'q4p', 'p4r', 'r4p', 'q4r', 'r4q']:
                var_1, var_2 = var[0], var[2] # Récupérer les quatre variables ('p', 'q' ou 'r') de la combinaison
                df_copy[var] = (df_copy[var_1]**4) * df_copy[var_2]
        res=compute_vif(df_copy)
        max=np.max(res['VIF'])
        if max<best_vif:
            best_vif=max
            best_set=var_set
    print(best_vif)
    print(best_set)

In [51]:
def compute_vif(features):
    vif = pd.DataFrame()
    vif['VIF'] = [variance_inflation_factor(features.values, i) for i in range(features.shape[1])]
    vif['feature'] = features.columns
    return vif

In [52]:
csv_file = "data/global_training_data_GA.csv"
raw_dist = read_score_distribution(csv_file)

In [53]:
features_label = ['p', 'q', 'r']
target_label = ["score"]
features = raw_dist[features_label]
target = raw_dist[target_label]
features

              p   q          r
0      0.000000   1   0.000556
1      0.009444   2   4.613333
2      0.002222  32   4.627500
3      0.049167  16   4.908333
4      0.014444   1   4.928889
...         ...  ..        ...
81340  3.888611  32  19.506111
81341  0.280833  64  19.533889
81342  0.001111   1  83.753056
81343  0.018889   2  83.766111
81344  0.009444  19  83.814167

[81345 rows x 3 columns]

In [56]:
grid_search(features,4)

Progression: 100%|██████████████████████| 27405/27405 [1:11:35<00:00,  6.38it/s]

1.4240461523363361
('r2q', 'p4q', 'p4r', 'r4p')

In [71]:
res=only_lin_predictors_pr(features)
vif=compute_vif(res)
print (vif)
print("mean = ",np.mean(vif.VIF))

           VIF feature
0     3.545919       p
1     1.334979       q
2     1.639616       r
3    48.094884      pr
4   417.439034     p2r
5    80.356611     pr2
6   884.084473     p3r
7   448.689402    p2r2
8   227.373438     p4r
9   100.405043    p3r2
10  101.251123    p2r3
11   31.063327     pr4
mean =  195.4398207094963

In [11]:
compute_vif(create_quadratic_polynomial(features))

        VIF feature
0  3.421147       p
1  8.906889       q
2  3.534008       r
3  2.359260      p2
4  8.155271      q2
5  2.889154      r2
6  3.996878      pq

In [12]:
compute_vif(create_cubic_polynomial(features))

           VIF feature
0     9.803409       p
1    31.869770       q
2     8.811594       r
3    39.023741      p2
4   240.355067      q2
5    35.675546      r2
6    39.577088      pq
7    21.719611      p3
8   129.047618      q3
9    18.942109      r3
10    6.628856     p2q
11   26.771264     pq2

In [13]:
compute_vif(create_quartic_polynomial(features))

            VIF feature
0     24.532768       p
1     86.912112       q
2     24.026944       r
3    234.193466      p2
4   2539.714596      q2
5    285.835528      r2
6    207.760168      pq
7    678.245055      p3
8   9617.488321      q3
9    763.988501      r3
10   167.910084     p2q
11   891.008797     pq2
12   224.560321      p4
13  3285.614487      q4
14   227.372157      r4
15    29.653030     p3q
16    53.782570    p2q2
17   420.447678     pq3

In [14]:
compute_vif(create_quintic_polynomial(features))

              VIF feature
0       43.230611       p
1      175.997992       q
2       29.598800       r
3     1027.339716      p2
4    12843.380230      q2
5     1108.665159      r2
6      799.188484      pq
7     8617.489819      p3
8   124388.639479      q3
9     9170.611154      r3
10    1683.723169     p2q
11   11952.864430     pq2
12   13911.200833      p4
13  207661.028234      q4
14   15472.248417      r4
15    1575.623035     p3q
16    3128.882522    p2q2
17   39037.445685     pq3
18    2765.799869      p5
19   44091.030592      q5
20    3292.499671      r5
21     334.439570     p4q
22     234.997485    p3q2
23     679.655529    p2q3
24   12858.357856     pq4

In [15]:
compute_vif(features)

              VIF feature
0       43.230611       p
1      175.997992       q
2       29.598800       r
3     1027.339716      p2
4    12843.380230      q2
5     1108.665159      r2
6      799.188484      pq
7     8617.489819      p3
8   124388.639479      q3
9     9170.611154      r3
10    1683.723169     p2q
11   11952.864430     pq2
12   13911.200833      p4
13  207661.028234      q4
14   15472.248417      r4
15    1575.623035     p3q
16    3128.882522    p2q2
17   39037.445685     pq3
18    2765.799869      p5
19   44091.030592      q5
20    3292.499671      r5
21     334.439570     p4q
22     234.997485    p3q2
23     679.655529    p2q3
24   12858.357856     pq4